* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: grey;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

header #menu-bar {
  display: none;
  width: 10%;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.active-link {
  color: blue;
}







@media (max-width: 780px) {
  header {
    padding: 10px 0px;
    padding-bottom: 0px;
  }
  header #menu-bar{
    display: block;

  }
  header h1{
    padding-left: 10px;
    width: 90%;
  }
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(143, 142, 142);
    padding-left: 10px;
    gap: 10px;
  }
  nav a:hover{
    background-color: grey;
  }
}