* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: grey;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

header #menu-bar {
  display: none;
  width: 10%;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.active-link {
  color: blue;
}

/* main */
main{
  min-height: 81vh;
  
}
.about-page div{
  background-image: url("/code.jpg");
  padding: 20px;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.about-page img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.about-page p{
  line-height: 2;
  font-size: 19px;
  margin-top: 20px;
  padding: 0 20px;
}
.about-page h1{
  width: 300px;
  text-align: center;
}

/* Footer */
footer{
  background-color: grey;
  padding: 20px;
}
footer p{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
footer a{
  margin-right: 15px;
}





@media (max-width: 780px) {
  header {
    padding: 10px 0px;
    padding-bottom: 0px;
  }
  header #menu-bar{
    display: block;

  }
  header h1{
    padding-left: 10px;
    width: 90%;
  }
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(143, 142, 142);
    padding-left: 10px;
    gap: 10px;
  }
  nav a:hover{
    background-color: grey;
  }
}